.pageHeader {
  height: 260px;
  padding: 115px 40px;
  position: relative;

  &.desktopSmall {
    @media (min-width: 901px) {
      padding: 120px 0 60px;
    }
  }

  &.mobileSmall {
    @media (max-width: 900px) {
      padding: 80px 0 30px;
    }
  }
}

.pageWidth {
  margin: 0 auto;
}

.pageHeaderTitle {
  margin-top: 30px;
  font-weight: 400;
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 8px;
}

.pageHeaderText {
  font-weight: 200;
  font-size: 21px;
  color: #ffffff;
}
