.hero {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;

  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    object-fit: cover;
    z-index: 1;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.4);
  }

  .content {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 800px;
    padding: 0 0 100px;
    color: white;
    max-width: 455px;

    text-align: left;

    .subtitle {
      font-size: 1.7rem;
      font-weight: 200;
      margin-bottom: 10px;
      opacity: 0;
      transform: translateY(30px);
      transition: opacity 0.8s ease, transform 0.8s ease;
    }
    .title {
      font-size: 3rem;
      font-weight: 400;
      margin-bottom: 20px;
      opacity: 0;
      transform: translateY(30px);
      transition: opacity 0.8s ease 0.3s, transform 0.8s ease 0.3s;
    }

    .button {
      display: inline-block;
      background-color: rgba(255, 107, 107, 0.91);
      color: white;
      padding: 27px 41px;
      font-weight: 500;
      max-width: 300px;
      font-size: 14px;
      letter-spacing: .02em;
      text-decoration: none;
      text-align: center;
      opacity: 0;
      transform: translateY(30px);
      transition:
              opacity 0.8s ease 0.6s,
              transform 0.8s ease 0.6s,
              background-color 0.4s ease-in-out,
              color 0.4s ease-in-out;

      &:hover {
        background-color: #ff6b6b;
      }
    }
  }

  &.loaded {
    .subtitle,
    .title,
    .button {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* Responsive */
@media (max-width: 768px) {
  .content {
    padding: 0 15px 60px;

    .subtitle {
      font-size: 1.2rem;
    }

    .title {
      font-size: 2rem;
    }

    .button {
      padding: 10px 20px;
    }
  }
}
