.classes {
  padding-bottom: 4rem;
}

.category {
  margin-top: 25px;
  margin-bottom: 3.5rem;
}

.categoryTitle {
  font-size: 2rem;
  font-weight: 400;
}

.categoryDesc {
  font-size: 1rem;
  margin: 0.4rem 0 1.2rem;
  color: #555;
}

.slider {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 0.5rem;
}

.card {
  min-width: 240px;
  cursor: pointer;
  background: #fff;
  position: relative;

  .imageWrapper {
    position: relative;
    width: 100%;
    height: 140px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .playOverlay {
      position: absolute;
      inset: 0;
      background: rgba(0,0,0,0.3);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      color: #fff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .startNowButton {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 15px;
      font-weight: 400;
      font-size: 14px;
      line-height: 1;
      letter-spacing: 0.02em;
      text-align: center;
      background: white;
      opacity: 0;
      border: none;
      pointer-events: none;
      transition: all 0.3s ease-in-out;
      z-index: 2;

      &:hover {
        cursor: pointer;
        background: #ff6b6b;
        color: #fff;
      }
    }

    &:hover .startNowButton {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.info {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 1rem;
      font-weight: 500;
      margin: 0; // remove extra margin
    }

    .duration {
      font-size: 0.85rem;
      color: #777;
    }
  }

  .bottomRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .level {
      font-weight: 200;
      font-size: 10px;
      text-transform: uppercase;
      border: 1px solid #ff6b6b;
      border-radius: 50px;
      padding: 3px 6px;
      color: #ff6b6b;
    }
  }
}


.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalContent {
  position: relative;
  width: 90%;
  max-width: 1000px;

  video {
    width: 100%;
  }
}

.close {
  position: absolute;
  top: -2.2rem;
  right: 0;
  background: none;
  border: none;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
}
