.footer {
  background: #f6f5f3;
  color: #222325;
  padding: 60px 40px;
  font-size: 14px;
  line-height: 1.6;
  display: flex;
  justify-content: space-between;

  a {
    color: #222325;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: #ff6b6b;
    }
  }

  .top {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 24px;

    .newsletter {
      h2 {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 22px;
        max-width: 330px;
        width: 100%;
      }

      p {
        max-width: 400px;
        margin-bottom: 20px;
      }

      .form {
        display: flex;
        gap: 10px;

        input {
          flex: 1;
          padding: 12px 24px;
          color: #222325;
          border: none;

          &::placeholder {
            color: #888;
          }
        }

        button {
          padding: 8px 16px;
          background: #ff6b6b;
          border: none;
          color: white;
          cursor: pointer;
          font-weight: 400;
        }
      }
    }

    .social {
      display: flex;
      gap: 16px;

      a {
        font-weight: 500;
      }

      .icon {
        width: 16px;
      }
    }
  }

  .links {
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
    max-width: 600px;
    width: 100%;
    gap: 20px;
    flex-shrink: 0;
    margin-right: 40px;

    .group {
      display: flex;
      flex-direction: column;
      gap: 15px;

      h5 {
        margin-bottom: 20px;
        font-weight: 200;
        font-size: 16px;
      }

      .link {
        font-weight: 400;
        font-size: 14px;
      }
    }
  }

  .bottom {
    text-align: center;
    margin-top: 32px;
    font-size: 13px;
    color: #222325;
  }

  @media (max-width: 900px) {
      display: block;

    .links {
      flex-direction: column;
      gap: 16px;
    }

    .top {
      .newsletter .form {
        flex-direction: column;
      }
    }
  }
}