.disclaimerPage {
  padding: 80px 24px;
  background: #fff;
  color: #222;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.text {
  font-weight: 400;
  font-size: 15px;
  line-height: 2;
  letter-spacing: .01em;
}
