.pageHeader {
  height: 300px;
  padding: 200px 40px;
  position: relative;

  &.desktopSmall {
    @media (min-width: 901px) {
      padding: 120px 0 60px;
    }
  }

  &.mobileSmall {
    @media (max-width: 900px) {
      padding: 80px 0 30px;
    }
  }
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.pageWidth {
  position: relative;
  margin: 0 auto;
  z-index: 2;
}

.pageHeaderTitle {
  margin-top: 80px;
  font-weight: 400;
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 8px;
}

.pageHeaderText {
  font-weight: 200;
  font-size: 21px;
  color: #ffffff;
}

@media (max-width: 900px) {
  .pageHeader {
    height: 270px;
    padding: 120px 40px;
  }

  .pageHeaderTitle {
    margin-top: 50px;
  }
}
