.classIntensity {
  background: #ffecece8;

}

.container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.header {
  padding-top: 40px;
}

.title {
  font-size: 1.7rem;
  font-weight: 400;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  margin-bottom: 15px;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
}

.item {
  max-width: 320px;
}

.intensity {
  display: inline-block;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  margin-bottom: 0.5rem;

  padding: 0.35rem 0.85rem;

  color: white;
  border-radius: 999px;
  border: 1px solid #ff6b6b;
  background-color: #ff6b6b;
}

.itemTitle {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.text {
  font-size: 0.85rem;
  line-height: 1.6;
  opacity: 0.85;
}
